# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
.env
.env.*.local

# OS generated
.DS_Store
Thumbs.db

# Optional build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Cache
.cache/
.next/
out/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm/

# VS Code settings
.vscode/

# Mac junk
*.DS_Store

# Local serverless environment
.serverless/

# Swagger docs
swagger.json
swagger.yaml
